---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

@import "syntax";

input,
textarea {
  border: 1px solid $black;
  width: 100%;
}

*:focus {
  border-color: $red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(231,71,39,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(231,71,39,.6);
}

button {
  outline: 0;
  border: 1px solid $black;
  background-color: $white;
  color: $black;
  cursor: pointer;
}

button:hover {
  outline: 0;
  border: 1px solid $black;
  background-color: darken($white, 10%);
}

button:active {
  outline: 0;
  border: 1px solid $black;
  color: $white;
  background-color: $black;
}